{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">

</head>
<body>
   
    <div class="container">
      
        <div class="form-container" id="login-form">
          <div class="logo">
            <a href="{% url 'home' %}">
                <img src="{% static 'images/rsachinlogo.png'%}" height="80px" width="auto" alt="logo image">
            </a>
        </div>
          <h1>Login</h1>
          <form>
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
            <button type="submit">Login</button>
          </form>
          <p>Don't have an account? <a href="#" id="signup-link">Sign up</a></p>
        </div>
    
        <div class="form-container" id="signup-form" style="display: none;">
         
          <div class="logo">
            <a href="{% url 'home' %}">
                <img src="{% static 'images/rsachinlogo.png'%}" height="80px" width="auto" alt="logo image">
            </a>
        </div>
          <h1>Sign Up</h1>
          <form>
            <label for="new-username">Username</label>
            <input type="text" id="new-username" name="new-username" required>
            <label for="new-email">Email</label>
            <input type="email" id="new-email" name="new-email" required>
            <label for="new-password">Password</label>
            <input type="password" id="new-password" name="new-password" required>
            <button type="submit">Sign Up</button>
          </form>
          <p>Already have an account? <a href="#" id="login-link">Login</a></p>
        </div>
      </div>
</body>
<script src="{% static 'js/login.js'%}"></script>
</html>